<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.may1.smarthelmet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IMAGE_CAPTURE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".trackingdata.LatestDataTrackingActivity"></activity>
        <activity android:name=".trackingdata.TrackingActivity" />
        <activity android:name=".registerlogin.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsDashboardActivity" />
        <activity android:name=".trackingdata.NewUserTrackingActivity" >
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".trackingdata.LatestDataTrackingActivity" />
        </activity>
        <activity android:name=".MusicDashboardActivity" />
        <activity android:name=".registerlogin.LoginActivity" />
        <activity android:name=".registerlogin.RegisterActivity" />
        <activity android:name=".connectbluetooth.ConnectViaBluetoothActivity" />
        <activity android:name=".connectbluetooth.DashboardActivity" />
        <activity android:name=".registerlogin.EmergencyActivity" />
    </application>

</manifest>